header {
  height: 15svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--pf-jcbs-tertiary);
}

header > div {
  height: 65%;
  width: auto;
}

header > div > img {
  height: auto;
  width: 60px;
  object-fit: contain;
}

header ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
  height: 25px;
  width: auto;
}

a {
  color: var(--pf-jcbs-tertiary);
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  color: var(--pf-jcbs-dark);
  font-family: var(--pf-jcbs-brand);
  font-size: 20px;
}

@media screen and (max-width: 450px) {
  a:active {
    text-decoration: underline;
    color: var(--pf-jcbs-dark);
    font-family: var(--pf-jcbs-brand);
    font-size: 20px;
  }
}