/* Header container */
header {
  height: 15svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--pf-jcbs-tertiary);
}

/* Main logo */
header > div {
  height: 60%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > div > a > img {
  height: auto;
  width: 70px;
  object-fit: contain;
}

/* Header nav */
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-l);
  list-style-type: none;
  height: 25px;
  width: 300px;
  padding: var(--padding-s) var(--padding-m);
}

header ul li {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--pf-jcbs-tertiary);
  font-weight: 600;
}

header ul li a:hover {
  text-decoration: underline;
  color: var(--pf-jcbs-dark);
  font-family: var(--pf-jcbs-brand);
  font-size: 20px;
}

/* Headers buttons */

#headers-buttons {
  width: 50px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  gap: var(--gap-xs);
}

/* Responsive */

@media screen and (max-width: 450px) {
  header ul {
    gap: var(--gap-xs);
    padding: 0px var(--padding-s);
  }

  a:hover {
    font-family: var(--pf-jcbs-normal);
    font-size: 16px;
  }

  #headers-buttons {
    top: 0;
  }
}
