/* About me cards container*/
.aboutMeCards {
  width: 100%;
  margin: var(--margin-m);
}

/* Cards */
.cards {
  margin: var(--margin-m);
}

.cards > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 250px;
  background-color: var(--pf-jcbs-secondary);
  border-radius: 20px;
  box-shadow: var(--pf-jcbs-boxshadow);
  cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 450px) {
  .card {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    min-width: 200px;
  }

  .cardImg {
    height: 80px;
    width: auto;
  }

  .cardImg > Img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
