.aboutMe {
  margin: 0 50px;
}

.aboutMe > h2 {
  font-family: var(--pf-jcbs-brand);
  font-size: 3rem;
  color: var(--pf-jcbs-tertiary);
}

.aboutMe > p {
  text-align: justify;
  margin: 10px 0;
  font-weight: 600;
}
