footer {
  width: 100%;
  height: 10svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.creator a img {
  width: 30px;
  height: 30px;
}

.creator > p {
  font-family: var(--pf-jcbs-brand);
  color: var(--pf-jcbs-dark);
  font-size: 1.5rem;
  font-style: italic;
}

.creator > img {
  width: 30px;
  height: 30px;
}

.rights {
  font-family: var(--pf-jcbs-normal);
  font-size: 1.1rem;
  color: var(--pf-jcbs-dark);
}
