.homePortfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  /* height: 50svh; */
  /* border: 2px solid red; */
}

.imgHome {
  /* height: 100%; */
  max-width: 35%;
  min-width: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
}

.imgHome > img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  display: flex;
}

.presentationHome {
  min-width: 60%;
  /* height: 50svh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  /* border: 2px solid blue; */
}

.greetingsHome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 15px;
  /* border: 2px solid purple; */
  padding: 0 0 0 20px;
  color: var(--pf-jcbs-tertiary);
}

.greetingsHome > h1 {
  font-family: var(--pf-jcbs-brand);
  font-size: 5vw;
}

.greetingsHome > h3 {
  font-size: 2.3vw;
  font-weight: 300;
}

.greetingsHome > h4 {
  font-size: 1.6vw;
  font-weight: 500;
}

.brandJCBS {
  /* font-size: calc(1em + 1vw); */
  font-size: 6vw;
  font-family: var(--pf-jcbs-brand);
  color: var(--pf-jcbs-quaternary);
}

.blockquote {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  padding: 20px 50px 10px 0;
  justify-content: right;
  /* border: 2px solid orange; */
}

.blockquote > h3 {
  font-family: var(--pf-jcbs-brand);
  font-size: 4vw;
  color: var(--pf-jcbs-tertiary);
}

.blockquote > p {
  font-style: italic;
  font-size: 1.5vw;
}

