.aboutModal {
  position: fixed;
  inset: 0;
  width: 45%;
  height: 45%;
  margin: 0 auto;
  z-index: 1;
  top: 35%;
  background-color: var(--pf-jcbs-modal);
  box-shadow: var(--pf-jcbs-boxshadow);
  border-radius: 20px;
  display: none;
  justify-content: center;
  align-items: center;
}

#aboutModal > button {
  background-color: var(--pf-jcbs-secondary);
  border: 1px solid var(--pf-jcbs-quaternary);
  padding: var(--padding-xs) var(--padding-s);
  border-radius: 5px;
  color: var(--pf-jcbs-quaternary);
  font-weight: 700;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.aboutModalImg {
  width: 15%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--margin-m);
}

.aboutModalImg > img {
  object-fit: cover;
}

.aboutModalContent {
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--margin-l) var(--margin-l) 0 0;
  gap: var(--gap-m);
}

.aboutModalContent > h2 {
  font-family: var(--pf-jcbs-brand);
  font-size: 3em;
  font-weight: 900;
  text-align: center;
}

.aboutModalContent > p {
  padding: var(--padding-m);
  font-size: 1.3em;
  text-align: center;
  font-weight: 700;
}

@media screen and (max-width: 450px) {
  .aboutModal {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 60%;
    display: none;
    padding: var(--padding-m) 0;
  }

  .aboutModalContent {
    margin: 0;
    gap: var(--gap-xs);
  }

  .aboutModalImg {
    width: 80px;
    height: auto;
  }

  .aboutModalImg > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .aboutModalContent > h2 {
    font-size: 2em;
  }

  .aboutModalContent > p {
    font-size: 1em;
  }
}
