.aboutModal {
    position: fixed;
    inset: 0;
    max-width: 80%;
    width: 100%;
    max-height: 60%;
    margin: 0 auto;
    z-index: 1;
    top: 20%;
    background-color: var(--pf-jcbs-modal);
    box-shadow: var(--pf-jcbs-boxshadow);
    display: none;
}

.card {
    cursor: pointer;
}